<div class="row-fluid">
    <div class="span6"><strong>Name: </strong>{{ device.get_device_name }}</div>
    <div class="span6"><strong>Serial No.: </strong>{{ device.serial_num }}</div>
</div>
<div class="row-fluid">
    <div class="span6"><strong>Asset ID: </strong>{{ device.gap_asset_id }}</div>
    <div class="span6"><strong>Password: </strong>{{ device.password }}</div>
</div>
<div class="row-fluid">
    <div class="span6"><strong>OS: </strong> {{ device.os }}</strong></div>
    <div class="span6"><strong>OS Version: </strong> {{ device.os_version }}</div>
</div>
<div class="row-fluid">
    <div class="span6"><strong>Current State:</strong>
        {% if device.current_state == "check_in" %}
            Check In
        {% else %}
            {% if device.current_state == "check_out" %}
                Check Out
            {% else %}
                Out Of Order
            {% endif %}
        {% endif %}
    </div>
    <div class="span6"><strong>Device Owner:</strong> {{ device.client|default:'GAP' }}</div>
</div>
<div class="row-fluid">
    <div class="span12"><strong>Notes:</strong></div>
</div>
<div class="row-fluid">
    <textarea class="span12" rows="4" readonly="true">{{ device.notes }}</textarea>
</div>
